html {
  font: 400 14px 'Open Sans', sans-serif;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

section,aside,footer {
  padding: 0.5em 8px;
}
section {
  margin: 1.5em auto;
}
footer {
  padding-top: 3em;
  font-size: 0.875rem;
  color: #778;
}

h1,h2,h3 {
  font-weight: 600;
  line-height: 1.25;
}
h1 {
  font-size: 2rem;
  text-align: center;
  color: #334;
}
h2 {
  font-size: 1.5rem;
  color: #112;
}
h3 {
  font-size: 1.125rem;
  color: #556;
}
h1,h2,h3,p,ul {
  margin: 0.5em auto;
}

a {
  color: #223;
  text-decoration: none;
}
a:hover {
  color: #07b;
}
a:active {
  color: #a08;
}


.meta {
  font-size: 0.75rem;
  color: #556;
}
.meta a {
  color: #667;
}
.meta a:hover {
  color: #07b;
}
.meta a:active {
  color: #a08;
}


.cols {
  display: flex;
}
.cols>* {
  flex: auto;
}


.links {
  position: absolute;
  top: 0;
  right: 0;
}
.links ul {
  padding: 0;
  list-style: none;
}


.skillset {
  display: flex;
}
.skillset h3 {
  flex: none;
  width: 7em;
}
.skillset ul {
  padding: 0;
  flex: auto;
}
.skillset ul>li {
  display: inline-block;
  min-width: 5em;
  padding: 1px 4px;
  border: 1px solid #eef;
  border-radius: 4px;
  margin: 1px 8px;
  font-size: 0.875rem;
  text-align: center;
}


.position h3,.qualification h3 {
  display: flex;
  flex-wrap: wrap;
}
.position h3>span,.qualification h3>span {
  min-width: 10em;
}
.position .time,.qualification .time {
  margin-right: 0.5em;
  flex: 2;
}
.position .location,.qualification .location {
  flex: 3;
}
.position .role,.qualification .role {
  margin-left: 0.5em;
  flex: 3;
  text-align: right;
}

.position+.position,.qualification+.qualification {
  margin: 1.5em auto 0;
  padding: 0.5em 0 0;
}


@media screen {

  .print-sr {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .print-only {
    display: none !important;
  }

  main {
    padding-bottom: 1em;
    background-color: #eee;
    overflow: hidden;
  }

  section {
    max-width: 60em;
    border-radius: 4px;
    box-shadow: 0 2px 8px #ccd;
    background-color: white;
  }

  .cover {
    max-width: none;
    width: 100%;
    min-height: 100vh;
    margin: 0 -8px 1em;
  }
  .cover p {
    max-width: 60em;
    padding: 0 8px;
    margin: 1em auto;
  }

  .title {
    margin: 30vh auto 1em;
    font-size: 2.25rem;
  }

  .links ul>li {
    display: inline;
    margin-left: 0.5em;
  }

  .position+.position,.qualification+.qualification {
    border-top: 1px solid #eef;
  }

  .toc {
    padding-top: 3em;
    border-top: 1px solid #eef;
  }

  .operations {
    padding: 0;
    text-align: right;
  }
  .operations>li {
    display: inline;
    margin-left: 0.5em;
  }

  @media (min-width: 80em) {

    .title {
      font-size: 2.5rem;
    }

    .links {
      position: fixed;
    }

    .toc {
      position: fixed;
      top: 30vh;
      left: 0;
      border: none;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    .toc.in,.toc:hover {
      opacity: 1;
    }
    .toc .inview {
      text-decoration: underline;
      text-decoration-color: #07b;
    }

  }

}


@media print {

  .no-print {
    display: none !important;
  }

  html {
    font-size: 10px;
  }

  section,aside,footer {
    padding: 0;
  }

  section>div {
    page-break-inside: avoid;
  }

  .title {
    margin-top: 2.5em;
  }

  .links {
    margin-top: -0.5em;
    font-size: 0.75rem;
  }

  .cols>* {
    margin-bottom: 0;
  }
}
