html {
  font: 400 14px 'Open Sans', sans-serif;
  color: black;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

section,aside,footer {
  padding: 0.5em 8px;
}
section {
  margin: 1.5em auto;
}
footer {
  padding-top: 3em;
  font-size: 0.875rem;
  color: #778;
}

h1,h2,h3,h4,p,ul {
  margin: 0.5em auto;
}
h1,h2,h3,h4 {
  font-weight: 600;
  line-height: 1.25;
}
h1 {
  font-size: 2rem;
  text-align: center;
  color: #334;
}
h2 {
  font-size: 1.5rem;
  color: #112;
}
h3 {
  font-size: 1.125rem;
  color: #556;
}
h4 {
  font-size: 1.000030rem;
  color: #112;
}
ul {
  padding-left: 2em;
  list-style: '• ' outside;
}

a {
  color: #223;
  text-decoration: none;
}
a:hover {
  color: #07b;
}
a:active {
  color: #a08;
}


.meta {
  font-size: 0.75rem;
  color: #556;
}
.meta a {
  color: #667;
}
.meta a:hover {
  color: #07b;
}
.meta a:active {
  color: #a08;
}


.cols {
  display: flex;
  flex-wrap: wrap;
}
.cols>* {
  flex: auto;
}


/*** #contact,#links ***/
.links {
  position: absolute;
  top: 0;
}
.links.l {
  left: 0;
}
.links.r {
  right: 0;
}
.links ul {
  padding: 0;
  list-style: none;
}


/*** #skills ***/
.skillset {
  display: flex;
}
.skillset h3 {
  flex: none;
  width: 7em;
}
.skillset ul {
  padding: 0;
  flex: auto;
}
.skillset ul>li {
  display: inline-block;
  min-width: 5em;
  padding: 1px 4px;
  border: thin solid #eef;
  border-radius: 4px;
  margin: 1px 8px;
  font-size: 0.875rem;
  text-align: center;
}


/*** #employment,#education ***/
.listing h3>span {
  min-width: 10em;
  flex: 1;
}
.listing .time {
  margin-right: 0.5em;
}
.listing .role {
  margin-left: 0.5em;
  text-align: right;
}

.listing+.listing {
  margin: 1.5em auto 0;
  padding: 0.5em 0 0;
}


@media screen {

  .print-sr {
    /* style rules here are a clone of fontawesome's sr-only */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .print-only {
    display: none !important;
  }

  main {
    padding-bottom: 1em;
    background-color: #eee;
    overflow: hidden;
  }

  section {
    max-width: 60em;
    border-radius: 4px;
    box-shadow: 0 2px 8px #ccd;
    background-color: white;
  }

  #introduction {
    max-width: none;
    width: 100%;
    min-height: 70vh;
    padding-top: 30vh;
    margin: 0 -8px 1em;
  }
  #introduction>* {
    animation-name: fadein, slidedn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in, ease-out;
    animation-fill-mode: backwards;
    transition: all 0.333s ease-in-out;
  }
  #introduction p {
    max-width: 60em;
    padding: 0 8px;
    margin: 1em auto;
    animation-duration: 0.333s;
    animation-delay: 0.167s;
  }
  #introduction .out {
    opacity: 0;
    transform: translateY(-1em);
  }

  .title {
    margin: 1em auto;
    font-size: 2.25rem;
  }

  .links ul>li {
    display: inline;
  }

  .listing+.listing {
    border-top: thin solid #eef;
  }

  #toc {
    padding-top: 3em;
    border-top: thin solid #eef;
  }

  #actions {
    padding: 0;
    text-align: right;
  }
  #actions>li {
    display: inline;
  }

  @media (min-width: 80em) {

    .title {
      font-size: 2.5rem;
    }

    .links {
      position: fixed;
    }

    #toc {
      position: fixed;
      top: 30vh;
      left: 0;
      border: none;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
    #toc.in,#toc:hover {
      opacity: 1;
    }
    #toc .inview {
      text-decoration: underline;
      text-decoration-color: #07b;
    }

  }

}


@media print {

  .no-print {
    display: none !important;
  }

  html {
    font-size: 10px;
  }

  section,aside,footer {
    padding: 0;
  }

  section>div {
    page-break-inside: avoid;
  }

  .title {
    margin-top: 2.5em;
  }

  .links {
    margin-top: -0.5em;
    font-size: 0.75rem;
  }

  footer * {
    margin-bottom: 0;
  }
}

/***********
 * Theming *
 ***********/
#skills h2 {
  color: #3a007e;
}
#skills h3 {
  color: #524a69;
}
#skills .skillset ul>li {
  border-color: #d8d0ef;
}
#employment h2 {
  color: #326a04;
}
#employment h3 {
  color: #4c5a4e;
}
#employment h4 {
  color: #19271a;
}
#education h2 {
  color: #00428e;
}
#education h3 {
  color: #4a536b;
}
#ultimate h2 {
  color: #733603;
}
#ultimate h3 {
  color: #5b4f53;
}

@media screen {
  #employment .listing+.listing {
    border-color: #d6dee0;
  }
  #education .listing+.listing {
    border-color: #d0d8f1;
  }
}


/*
 * Animations
 */
@keyframes fadein {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

@keyframes slidedn {

  from {
    transform: translateY(-1em);
  }

  to {
    transform: none;
  }

}
